body,
html {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.sidebar a {
  display: block;
  width: 100%;
  padding: 14px 20px;
  text-decoration: none;
  color: inherit;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

.active {
  background-color: greenyellow;
  color: black;
}

@media screen and (min-width: 600px) {
  .sidebar a {
    float: left;
    width: 25%;
  }

  .sidebar::after {
    float: none;
  }
}
